---
import SvgGitHub from "./SvgGitHub.astro"
import SvgLinkedin from "./SvgLinkedin.astro"
import SvgWebSite from "./SvgWebSite.astro"
---

<div class="mt-[30px]">
  <h3 class="text-[#fff] text-base font-bold">Links and Credentials</h3>
  <div class="flex items-start flex-col justify-between mt-[15px] gap-4">
    <a href="https://github.com/samuraiOrDev" target="_blank" class="flex items-center gap-2">
      <SvgGitHub />
      <p class="text-[#fff] text-sm">GitHub</p>
    </a>
    <a href="https://www.linkedin.com/in/v%C3%ADctor-manuel-ordiales-garc%C3%ADa-777196206/" target="_blank" class="flex items-center gap-2">
      <SvgLinkedin />
      <p class="text-[#fff] text-sm">Linkedin</p>
    </a>
    <a href="https://www.samuraior.dev/" target="_blank" class="flex items-center gap-2">  
      <SvgWebSite />
      <p class="text-[#fff] text-sm">Website</p>
    </a>
  </div>
</div>
