---
import { Image } from 'astro:assets';
---
<div class="mt-[40px] flex flex-col items-center justify-center">
  <div class="rounded-full h-[150px] w-[150px] bg-[#878787] flex items-center justify-center">
    <Image
      src="/default.jpeg"
      alt="texto descriptivo"
      width="135"
      height="135"
      class="rounded-full"
    />
  </div>
  <h1 class="text-center text-lg text-[#fff] font-bold mt-3">
    Víctor Manuel Ordiales García
  </h1>
  <p class="text-center text-[#c3c2c2] text-sm my-1">
    Desarrollador FullStack & Graduado en Física
  </p>
</div>
