---

---

<div class="mt-[30px]">
  <div class="rounded-md text-[#233A5F] bg-[#e5e5e5] p-2 mb-1 text-sm">
    Cáceres, 28 de Agosto de 1995
  </div>
  <div class="rounded-md text-[#233A5F] bg-[#e5e5e5] p-2 mb-1 text-sm">
    +34 685 394 859
  </div>
  <div class="rounded-md text-[#233A5F] bg-[#e5e5e5] p-2 mb-1 text-sm">
    samurai.dev.ordiales@gmail.com
  </div>
  <div class="rounded-md text-[#233A5F] bg-[#e5e5e5] p-2 mb-1 text-sm">
    Casar de Cáceres, España
  </div>
</div>
